<li class="t228__list_item"><a class="t-menu__link-item" style="color:#ffffff;font-weight:600;" data-menu-item-number="1">Преподаём также:</a></li>

<li class="t228__list_item">
  <a href="./index.html" title="Английский" class="lang">
    <img src="./english_online/gb.png" width="30" height="18" border="0">
    <div>Английский</div>
  </a>
  <a href="./es.html" title="Испанский" class="lang">
    <img src="./english_online/es.png" width="30" height="18" border="0">
    <div>Испанский</div>
  </a>
  <a href="./sk.html" title="Словацкий" class="lang">
    <img src="./english_online/sk.png" width="30" height="18" border="0">
    <div>Словацкий</div>
  </a>
  <a href="cz.html" title="Чешский" class="lang">
    <img src="./english_online/cz.png" width="30" height="18" border="0">
    <div>Чешский</div>
  </a>
  <a href="./pl.html" title="Польский" class="lang">
    <img src="./english_online/pl.png" width="30" height="18" border="0">
    <div>Польский</div>
  </a>
  <a href="./bg.html" title="Болгарский" class="lang">
    <img src="./english_online/bg.png" width="30" height="18" border="0">
    <div>Болгарский</div>
  </a>
  <a href="./ru.html" title="Русский" class="lang">
    <img src="./english_online/ru.png" width="30" height="18" border="0">
    <div>Русский</div>
  </a>
  <a href="./ua.html" title="Украинский" class="lang">
    <img src="./english_online/ua.png" width="30" height="18" border="0">
    <div>Украинский</div>
  </a>
</li>
